
@{
    ViewData["Title"] = "Chat";
}
@* 

    
</ul> *@
    <section style="background-color: #eee;">
        <div class="container py-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4">

                    <div class="card" id="chat1" style="border-radius: 15px;">
                        <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                             style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                            <i class="fas fa-angle-left"></i>
                            <p class="mb-0 fw-bold">Live chat</p>
                            <i class="fas fa-times"></i>
                        </div>
                        <div class="card-body" id="chatBox">
                     
                        </div>
                        <label id="lbl"></label>
                    <div data-mdb-input-init class="form-outline mb-3">
                        <textarea onfocus="typing()" onblur="nottyping()" id="txt" class="form-control" id="textAreaExample" rows="4"></textarea>
                        <label class="form-label" for="textAreaExample">Type your message</label>
                        <button onclick="send()" type="button" class="btn btn-success btn-rounded">
                            Send
                        </button>
                    </div>

                    <div class="d-flex  align-items-center mb-3">
                        <select id="select-grps" class="form-select py-1 flex-grow-1 me-2">
                        </select>
                        <button onclick="sendtogroup()" type="button" class="btn btn-xs btn-warning btn-rounded">
                            Send To Group
                        </button>
                    </div>

                    <div class="d-flex  adding-group-container">
                        <input id="gtxt" class="form-control flex-grow-1 me-2" id="textAreaGroup" placeholder="group name..." />
                        <button onclick="join()" type="button" class="btn btn-xs btn-info btn-rounded">
                            Join Group
                        </button>
                    </div>

                       

                    </div>

                  
                </div>
            </div>
            <ul  id="list" class="list-unstyled"></ul>
        </div>
    </section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

<script>
    name = prompt("Enter ur name");
    const checkSign="&#10004";


        

    con = new signalR.HubConnectionBuilder().withUrl("/chat").build(); 
   
    con.start();
    
        con.on("newmessage", function (msg) {
            if (msg.username == name) {
               
                $("#chatBox").append(`
                            <div class="d-flex flex-row justify-content-end mb-4">
                                <div class="p-3 me-3 border msg" style="border-radius: 15px; background-color: #fbfbfb;">
                                    <p class="small mb-0">${msg.messagetxt}</p>
                                   <span class="check-sign unchecked">${checkSign}</span>
                                </div>
                                 <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                               alt="avatar 1" style="width: 45px; height: 100%;">
                            </div>
                        `);
            } else {
                $("#chatBox").append(`
                            <div class="d-flex flex-row justify-content-start mb-4">
                                     <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                     alt="avatar 1" style="width: 45px; height: 100%;">
                                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                    <p class="small mb-0">${msg.messagetxt}</p>
                                </div>
                            </div>
                        `);
            }
        });

    con.on("newmember", function (nm, grpname) {
            $("#list").append("<li><em>" + nm + " joined " + grpname + "</em></li>");

    })
    con.on("groupmessage", function (nm, msg,grp) {
            if (nm == name) {

                $("#chatBox").append(`
                                    <div class="d-flex flex-row justify-content-end mb-4">
                                        <div class="p-3 me-3 border msg" style="border-radius: 15px; background-color: #fbfbfb;">
                                            <p class="small px-1">${msg}</p>
                                                                        <p class=" grp-txt">${grp}</p>

                                        </div>
                                         <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                       alt="avatar 1" style="width: 45px; height: 100%;">
                                    </div>
                                `);
            } else {
                $("#chatBox").append(`
                                    <div class="d-flex flex-row justify-content-start mb-4">
                                             <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                             alt="avatar 1" style="width: 45px; height: 100%;">
                                        <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                            <p class="small px-1">${msg}</p>
                                                         <p class=" grp-txt">${grp}</p>

                                        </div>
                                    </div>
                                `);
            }
    })



        con.on("typingnotification",function(notification){
            $("#lbl").html(notification);
            $(".unchecked").each(function () {
                $(this).html(`${checkSign}${checkSign}`);
                $(this).removeClass("unchecked");
            });
        })


    function send() {
        var obj = {
            "username": name,
            "messagetxt": $("#txt").val()
        };

        con.invoke("sendmessage", obj);
        $("#txt").val("");
    }
    function join() {

        const groupname = $("#gtxt").val();
        con.invoke("joingroup", groupname, name);

            $("#select-grps").append(`<option value="${groupname}"> group: ${groupname}</option>`)
        showGroups();
    }

    function sendtogroup() {
            con.invoke("sendToGroup", name, $("#txt").val(), $("#select-grps").val())
            $("#txt").val("")
    }
    function typing(){
        con.invoke("personistypingnotification", name);
    };


        function nottyping() {
            con.invoke("personstoppedtypingnotification");

    };

</script>
}